.brand-bar {
  padding: 35px 0;
  h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 35px;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      background: color("blue", "darken-3");
      margin: 10px auto 0 auto;
    }
  }
  img {
    max-height: 75px;
    width: auto;
  }
}
.recent-articles {
  padding: 35px 0;
  h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
    &:after {
      content: "";
      display: block;
      background: color("blue", "darken-3");
      width: 50px;
      height: 3px;
      margin: 10px auto 0;
    }
  }
  .articles {
    img {
      max-width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .article:hover h3 {
      color: color("blue", "darken-3");
    }
    .byline {
      font-size: 0.75rem;
      color: #333;
    }
    h3 {
      margin-top: 5px;
      font-size: 22px;
      font-weight: 600;
      color: #333;
      transition: all 0.3s ease;
    }
  }
}
