{{ define "main" }}
<section class="hero fh {{ $.Site.Params.color}}">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s12 m8">
        <h3 class="white-text">Hi, I'm Zach</h3>
        <h1 class="white-text">I build things on the web</h1>
        <p>I am a web developer and online marketer from Philadelphia who is passionate about solving business problems through technology.</p>
        <div class="button-bar">
          <a href="/contact" class="btn btn-large orange darken-2">Hire Me</a>
          <a href="/about-me" class="white-text">Learn More...</a>
        </div>
      </div>
      <div class="col s12 m4 hide-on-small-and-down">
        <img src="/images/zachary-russell.jpg"> 
      </div>
    </div>
  </div>
  </div>
  <section class="brand-bar">
    <div class="container center-align">
      <h4>Brands I've Worked With</h4>
      <div class="logos">
        <img src=/images/ua-logo.png alt="Under Armour" />
        <img src=/images/qvc-logo.png alt="QVC" />
        <img src=/images/highwinds-logo.png alt="Highwinds" />
        <img src=/images/docsend-logo.png alt="DocSend" />
      </div>
    </div>
  </section>
  <section class="recent-articles">
    <div class="container">
      <h2 class="text-blue darken-3">Recent Articles</h2>
      <div class="row articles">
        {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
        <a href={{ .Permalink }}>
          <div class="col s12 m4 article">
          {{ if .Params.header_image }}
            {{ with .Params.header_image }}
                {{ $imageResource := ($.Site.GetPage "Section" "images").Resources.GetMatch  (strings.TrimPrefix "/images/" . ) }}
                {{ $resized := $imageResource.Resize "600x" }}
                <img src="{{ $resized.RelPermalink }}" />
            {{ end }}

          {{ else }}
            {{ $image := "/images/default-header.png" }}
            <img src="{{ $image }}" />
          {{ end }}
            <div class="byline">{{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }} | {{ range .Params.categories }}{{ . }}{{ end }}</div>
            <h3>{{ .Title }}</h3>
          </div>
        </a>
        {{ end }}

      </div>

    </div>
  </section>
  {{ end }}
