{{ define "main" }}
<section class="hero green darken-2">
  <div class="container">
    <h1>Hi, I'm Zach!</h1>
    <p>I build things on the web. I am a web developer and online marketer from Philadelphia who is passionate about solving business problems through technology.</p>
    <div class="button-bar">
      <a class="btn btn-large orange darken-2">Hire Me</a>
      <a href="/about-me" class="btn btn-large plain">Learn More</a>
    </div>
  </div>
  </div>
  <section class="brand-bar">
    <div class="container center-align">
      <h4>Brands I've Worked With</h4>
      <div class="logos">
        <img src=/images/ua-logo.png alt="Under Armour" />
        <img src=/images/qvc-logo.png alt="QVC" />
        <img src=/images/highwinds-logo.png alt="Highwinds" />
        <img src=/images/docsend-logo.png alt="DocSend" />
      </div>
    </div>
  </section>
  <section class="recent-articles white-text green darken-2">
    <div class="container">
      <h2>Recent Articles</h2>
      <div class="articles">
        {{ range first 5 (where .Pages "Section" "blog") }}
        <div class="article">
          <div class="byline">{{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }} | Category</div>
          <h3><a href={{ .Permalink }}>{{ .Title }}</a></h3>
        </div>
        {{ end }}
        
      </div>

    </div>
  </section>
  {{ end }}
