<footer class="blue darken-3 white-text">
  <div class="container">
    <div class="row">
      <div class="col m3">
        <h5 class="white-text">Site</h5>
        <ul>
          {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}">{{- .Name -}}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col m4">
        <h5 class="white-text">Projects & Activities</h5>
        <ul>
          <li><a target=_blank href=https://protechig.com>ProTech Internet Group</a></li>
          <li><a target=_blank href=https://www.meetup.com/gdgcloud-philly/>GDG Cloud Philly</a></li>
          <li><a target=_blank href=https://www.distisuite.com>DistiSuite</a></li>
          <li><a target=_blank href=https://startserverless.com>Start Serverless</a></li>
        </ul>
      </div>
      <div class="col m5">
        <h5 class="white-text">Sign up for my Newsletter</h5>
        <p>Get weekly news, tips & tricks about WordPress & SEO</p>
        <form name="Newsletter Signup" method="POST" netlify>
          <div class="row">
            <div class="col s12 m8">
              <input type="email" name="email" class="white green-text" placeholder="Email Address" />
            </div>
            <div class="col s12 m4">
              <button type="submit" class="btn orange darken-2 ">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
	 </footer>
	 <ul class="sidenav" id="mobile-nav">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" title="{{ .Title }}">
      {{- .Name -}}
    </a></li>
  {{ end }}
</ul>

<script src="/js/materialize.min.js"></script>
<script src="/js/global.js"></script>
