<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMKVS8S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="navbar-fixed">
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <a href=/ class="brand-logo black-text"><img src="/logo.svg" /></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down right green-text">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" title="{{ .Title }}">
            {{- .Name -}}
            </a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>

