footer {
  padding: 30px 0;
  h5 {
    border-bottom: 3px solid color('green', 'darken-2');
    padding-bottom: 5px;
    font-weight: 600;
  }
  a {
    color: #fff;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    &:hover {
      border-color: white;
    }
  }
  form {
    input.green-text {
      font-weight: 800 !important;
      padding-left: 10px !important;
      color: color('green', 'darken-1') !important;
      &::placeholder {
        color: #666 !important;
        font-weight: 600 !important;
      }
    }
    button.orange {
      &:hover {
        background: color('orange', 'darken-1') !important;
        margin-top: 0;
      }
    }
    input,
    button {
      height: 50px !important;
      font-weight: 500;
    }
  }
  .m5 {
    border: 3px solid white;
    background: color('green', 'darken-3');
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  }
}
