.hero {
  padding: 50px 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  .row {
    flex-direction: column-reverse;

    @media #{$medium-and-up} {
      flex-direction: row;
    }
  }
  @media #{$medium-and-up} {
    text-align: left;
  }
  .button-bar {
    a {
      width: 200px;
      @media #{$medium-and-up} {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  a {
    font-weight: 600;
    &.plain {
      color: white;
      background: transparent;
      border: 2px solid white;
      &:hover {
        background: white;
        color: color("green", "base");
      }
    }
  }
}
