.hero {
  padding: 125px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  .row {
    flex-direction: column-reverse;

    @media #{$medium-and-up} {
      flex-direction: row;
    }
  }
  @media #{$medium-and-up} {
    text-align: left;
  }
  .button-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    @media #{$small-and-down} {
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      width: 200px;
      margin-bottom: 15px;
      @media #{$medium-and-up} {
        margin: initial;
        &.btn:hover {
          margin-top: -2px;
          margin-bottom: 2px;
        }
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  a {
    font-weight: 600;
    &.plain {
      color: white;
      background: transparent;
      border: 2px solid white;
      &:hover {
        background: white;
        color: color("green", "base");
      }
    }
  }
}
