{{ define "main" }}
<section class="hero blue darken-3 white-text">
  <div class="container">
    <h1 class="white-text center">Blog</h1>
	 <h4 class="white-text center">Articles about Web Development, SEO, and Entrepreneurship</h4>
  </div>
</section>
<div class="container">
  <div class="row flex-blog">
    {{ range .Paginator.Pages }}
    <div class="col s12 m4">
      <article class="card">
        {{- partial "summary.html" . -}}
      </article>
    </div>
    {{ end }}
  </div>
</div>
{{- template "_internal/pagination.html" . -}}
{{end}}
